.calculator-container {
  background-color: darkslategray;
  border: solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 315px;
}

.row {
  align-content: center;
  display: flex;
  justify-content: center;
}

button {
  background-color: slategray;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: bold;
  height: 45px;
  margin: 1px;
  width: 75px;
}

.num-pad {
  background-color: gray;
}

.equal-button {
  background-color: lightskyblue;
}

input {
  background-color: darkslategray;
  border: none;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  height: 45px;
  margin-bottom: 10px;
  text-align: right;
  width: 300px;
}
